@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
.reference-view-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.reference-view-header {
  font-family: "Inter", sans-serif;
  color: grey;
}

.reference-scroll {
  overflow-y: scroll;
  margin-bottom: 1em;
}

.reference-view-theme-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1em;
}

.dashboard-authors {
  font-family: "Playfair Display", serif;
}

.dashboard-metric-title {
  font-family: "Inter", sans-serif;
}

.reference-view-theme-container {
  display: flex;
  flex-direction: column;
}

.reference-title {
  margin: 0.3em 0;
  font-size: small;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  word-wrap: break-word !important;
  /* Break long words */
  overflow-wrap: break-word !important;
  white-space: normal;
}

.view-theme-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
}

.view-theme-option {
  background-color: pink;
  margin-top: 0.2em;
  border: 1px solid #e7e7e7;
  display: inline-block;
}

.reference-container {
  margin-top: 0.5em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  padding: 0.2em 0 0.5em 0;
  border-bottom: 0.02em solid #eeeeee;
  word-wrap: break-word !important;
  /* Break long words */
  overflow-wrap: break-word !important;
  white-space: normal;
}
.reference-container .content-container {
  grid-row: 2;
  grid-column: 1;
  padding: 0.6em 0.6em 0 0.6em;
  box-sizing: border-box;
}
.reference-container .reference-type {
  opacity: 50%;
  font-size: xx-small;
  word-wrap: break-word;
  /* Break long words */
  overflow-wrap: break-word;
  white-space: normal;
}
.reference-container .reference-authors, .reference-container .reference-platform {
  font-size: x-small;
  opacity: 75%;
  font-family: "Playfair Display", serif;
  word-wrap: break-word !important;
  /* Break long words */
  overflow-wrap: break-word !important;
  white-space: normal;
}
.reference-container .reference-image {
  grid-row: 1;
  grid-column: 1;
}

/* https://codepen.io/mikedidthis/pen/PNYjPN */
.reference-view-search {
  width: 100%;
  border-radius: 10px;
  padding: 0.3em 1em;
  border: none;
}

/* --------------- VIEW ---------------------- */
.reference-metrics {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1em;
}

.setting-item {
  padding-right: 1em;
}

.view-metric-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0.6em 0.6em 1em 0.6em;
  box-sizing: border-box;
}

.metric-div {
  width: 100%;
  margin: 1em 0 0 0;
}

.dashboard-progress-bar, .view-progress-bar {
  width: 100%;
  background: #333;
  margin-top: 1em;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.dashboard-progress, .view-progress {
  background: linear-gradient(180deg, #ff8c00, #ffc107);
  height: 1em;
  transition: width 0.3s ease;
  box-shadow: inset 0 -3px 5px rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding-left: 2em;
  font-size: small;
  color: black;
}

.dashboard-progress-bar::after, .view-progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.01);
  /* Glossy shine adjusted for dark mode */
  pointer-events: none;
}

.metric-reading {
  background: pink;
}

.reference-button-container {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}

.reference-container {
  position: relative;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-container-move-metric {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metric {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
  background: grey;
  margin: 0.6em 0.3em 0 0;
}
.metric .tooltip-container {
  position: relative;
  /* To position the tooltip */
  display: inline-block;
  cursor: pointer;
  /* Tooltip arrow */
}
.metric .tooltip-container .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.metric .tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.add-metric {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262424;
  cursor: pointer;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
